.agent-dashboard{
    width:100vw;
    height:100vh
}

.left-panel {
    width: 20%;
    float: left;
    border: solid 1px black;
    height:100%
}

.conversation-header{
    cursor: pointer;
    border: solid 1px black;
}

.conversation-header a{
    text-decoration: underline;
}

.customer-name{
    font-weight: bold;
}


 .wc-chatview-panel {
    border: 1px solid #333;
    float: right;
    height: 600px;
    width: 460px;
    margin: 20px 320px;
}
.wc-wide .wc-chatview-panel {
    width: 768px;
}
.wc-narrow .wc-chatview-panel {
    width: 320px;
}


